Checks: "bugprone-*, cert-*, modernize-*, performance-*, cppcoreguidelines-*, clang-analyzer-*, -modernize-use-trailing-return-type, -clang-diagnostic-c++17-extensions, -cppcoreguidelines-pro-bounds-pointer-arithmetic, -cert-dcl58-cpp, -cppcoreguidelines-pro-type-union-access, -cppcoreguidelines-pro-bounds-constant-array-index, -cppcoreguidelines-avoid-magic-numbers, -cert-err58-cpp, -modernize-use-auto, -clang-diagnostic-format-security, -cppcoreguidelines-non-private-member-variables-in-classes, -cppcoreguidelines-pro-bounds-array-to-pointer-decay"
